/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-title {

    @include sp {
        padding: 0 20px 0 10px;
    }

    &__bigtit {
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 0.07em;
        line-height: 1.47;
        color: #0080cc;
        text-align: center;
        margin-bottom: 7px;

        @include sp {
            font-size: 2.4rem;
            letter-spacing: 0.05em;
            margin-bottom: 0;
        }
    }

    &__subtit {
        font-size: 1.6rem;
        color: #3c3c3c;
        font-weight: 400;
        text-align: center;
        line-height: 1.75;
        letter-spacing: 0.02em;


        @include sp {
            font-size: 1.4rem;
            line-height: 1.6;
            letter-spacing: 0.1em;
        }
    }

    &2 {
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 0.07em;
        margin-bottom: 23px;
        line-height: 1.47;
        color: #fff;
    
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 0.05em;
            
            line-height: 0.9;
            margin-bottom: 17px;
        }
    }

    &3 {
        font-size: 3.4rem;
        font-weight: 500;
        line-height: 1.47;
        color: #0080cc;
        text-align: center;
        margin-bottom: 10px;
        letter-spacing: 0.05em;
    }
}

.c-subtitle {
    &3 {
        font-size: 1.6rem;
        color: #3c3c3c;
        font-weight: 400;
        text-align: center;
        line-height: 1.75;
        letter-spacing: 0.02em;
    }
}




