.c-about {
    display: flex;
    justify-content: space-between;

    @include sp {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 100%;
        padding: 0 10px;
    }

    &__txt {
        max-width: 492px;
        width: 100%;
        color: #fff;
        padding: 12px 10px 0 0;
        margin-right: 46px;

        @include sp {
            max-width: 100%;
            margin-right: 0;
            padding: 0;
        }

        &1 {
            font-size: 1.6rem;
            line-height: 1.75;
            letter-spacing: 0.024em;
            margin-bottom: 28px;
            

            @include sp {
                font-size: 1.4rem;
                line-height: 1.57;
                margin-bottom: 22px;
                letter-spacing: 0.02em;
            }
        }
    }

    &__img {
        max-width: 540px;
        width: 100%;
        flex-shrink: 0;

        @include sp {
            max-width: 100%;
            margin-bottom: 51px;
            text-align: center;
        }

        &box {
            position: relative;

            @include sp {
                display: block;
            }
        }

        &box::before {
            content: "";
            border: 2px #fff solid;
            max-width: 536px;
            width: 100%;
            height: 355px;
            position: absolute;
            top: 18px;
            left: -20px;

            @include sp {
                max-width: 98.8%;
                height: 98%;
                top: 10px;
                left: -10px;
            }
        }

        &1 {
            margin-bottom: 44px;
            display: block;

            @include sp {
                margin-bottom: 29px;
            }

            img {
                margin-top: -1px;
            }
        }
    }
}
