//baseWidth
$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;


@font-face {
    font-family: YuGothicUI-Regular;
    src: url("./fonts/YuGothR.ttc");
}

@font-face {
    font-family: SegoeUI;
    src: url("./fonts/segoeui.ttf");
}

//color common
