/* Header
------------------------------------------------------------*/
.c-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    z-index: 100;
 

    &__logo {
        position: relative;
        max-width: 165px;
        width: 100%;
        height: 53px;
        margin-right: 53px;

        a::before {
            content: "";
            position: absolute;
            background: url("assets/img/logo.jpg") top right no-repeat;
            width: 164px;
            height: 39px;

            @include sp {
                background: url("assets/img/logoSP.jpg") top right no-repeat;
                width: 123px;
                height: 29px;
            }
        }

        a {
            span {
                position: absolute;
                font-family: "SegoeUI";
                font-size: 1.2rem;
                color: #3c3c3c;
                top: 32px;
                left: 50px;
                letter-spacing: 0.02em;

                @include sp {
                    font-size: 1rem;
                    top: 26px;
                    left: 32px;
                }
            }
        }

        a:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    &__recruit {
        position: relative;
        max-width: 185px;
        width: 100%;
        height: 50px;
        background-color: #0080cc;
        border-radius: 9px;
        padding: 11px 5px 0 27px;

        @include tab {
            margin-left: auto;
            max-width: 157px;
            height: 40px;
            top: -7px;
            padding: 8px 10px 11px 39px;
        }
        @include sp {
            max-width: 122px;
            width: 100%;
            height: 38px;
            padding: 10px 0 0 29px;
            top: -8px;
            right: 10px;
        }

        p {
            font-family: "YuGothicUI-Regular";
            text-align: center;
            font-size: 1.8rem;
            letter-spacing: 0.124em;
            font-weight: 400;
            color: #fff;


            @include tab {
                font-size: 1.6rem;

            }
            @include sp {
                font-size: 1.2rem;
                letter-spacing: 0.28em;
            }
        }

        p::before {
            content: "";
            position: absolute;
            background: url("assets/img/assignment.svg") center no-repeat;
            width: 20px;
            height: 20px;
            left: 35px;
            top: 15px;

            @include tab {
                left: 25px;
                top: 11px;
            }

            @include sp {
                left: 15px;
                top: 9px;
            }
        }
    }

    &__btn {
        &open {
            position: relative;
            width: 30px;
            height: 20px;
            top: -8px;
            right: -10px;
        }

        &close {
            position: relative;
            width: 23px;
            height: 23px;
            top: -7px;
            right: -9px;
            margin-left: 6px;
            display: none;
        }


    }

}
/* Main menu
------------------------------------------------------------*/
.c-gnav {
    max-width: 676px;
    width: 100%;
    margin-top: 12px;

    @include tab {
        order: 3;
        max-width: 687px;
        margin: 20px auto -5px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include sp {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
        }
    }

    li {
        position: relative;
        display: inline-block;
        margin-bottom: 5px;


        + li {
            margin-left: 30px;

            @include tab {
                margin-left: 40px;
            }
        }
    }

   

    a {
        font-family: "YuGothicUI-Regular";
        font-size: 1.6rem;
        color: #0080cc;
        letter-spacing: 0.02em;
        @include sp {
            font-size: 2rem;
            letter-spacing: 0.054em;
        }


    }

    a::before {

        @include sp {
            content: "";
            position: absolute;
            background: url("assets/img/play.svg") center no-repeat;
            width: 24px;
            height: 24px;
            left: -35px;
            top: 2px;
        }
    }

    li:nth-child(1) {
        border-bottom: 2px solid #0080cc;
        padding-bottom: 5px;
        @include sp {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    li:nth-child(3) {
        margin-left: 42px;
        @include sp {
            margin-left: 0;
        }
    }
}
